<h1><%= @restaurant.name %> </h1>

<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>

<p></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>
<%= link_to 'Add a review for this shit-tip', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back to all restaurants', restaurants_path%>
